#colorPicker{height: 50px;
width: 50px;
border-radius: 50%;
}
#canvas{
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn{
    display: flex;
    justify-content: center;
}
